<div id="conversation" class="w3-container">


<h3 id="userClick" style="font-family: 'Special Elite', cursive !important">All Users</h3><hr>

  <div id="allUsers">
    
    <% @users.each do |user| %>
      <% if user.id != current_user.id %><br>
       <li><%= link_to "#{user.email} Message", conversations_path(sender_id: current_user.id, recipient_id: user.id), method: "post", class: "no-decoration" %></li><br>
      <% end %>
    <% end %>
    </div>

    <script>
      $(document).ready(function(){
  $("#userClick").click(function(){
    $("#allUsers").toggle("slow");
  });
});
    </script>
  

  
    <h3 style="font-family: 'Special Elite', cursive !important">Conversations</h3>
    <% @conversations.each do |conversation| %>
      <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
        <% if conversation.sender_id == current_user.id %>
          <% recipient = User.find(conversation.recipient_id) %>
        <% else %>
          <% recipient = User.find(conversation.sender_id) %>
        <% end %>
        <% unless current_user.id == recipient %>
          
              
              <div><%= link_to recipient.email, conversation_messages_path(conversation) %></div>
    
        <% end %>
      <% end %>
    <% end %>
</div>
