
<div id="conversation" class="w3-container">
<br><br>
<div class="one">

<h1 id="userClick" style="font-family: 'Special Elite', cursive !important">Message Users</h1><hr class="hr">
  <div id="allUsers"><br>
  
    <% @users.each do |user| %>
      <% if user.id != current_user.id %>

       <div><%= image_tag avatar_url(user), size: 48, class: "circle" %><%= link_to "  #{user.username}", conversations_path(sender_id: current_user.id, recipient_id: user.id), method: "post", class: "no-decoration testButton" %> <i class="far fa-comment-dots fa-md"></i><br><br></div>



      <% end %>
    <% end %>
    </div>

 


  </div><br><br>
  <div class="two">
  

  
    <h1 id="convoClick" style="font-family: 'Special Elite', cursive !important">Chats</h1><hr class="hr">
    <div id="allConvo"><br>

    <% @conversations.each do |conversation| %>
      <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
        <% if conversation.sender_id == current_user.id %>
          <% recipient = User.find(conversation.recipient_id) %>
        <% else %>
          <% recipient = User.find(conversation.sender_id) %>
        <% end %>
        <% unless current_user.id == recipient %>
          
              
              <div>
                <% @users.each do |user| %><% if user.username == recipient.username %><%= image_tag avatar_url(user), size: 48, class: "circle" %><% end %><% end %>
              <%= link_to recipient.username, conversation_messages_path(conversation), class: "testButton no-decoration" %>  <i style="margin-right:12px;" class="far fa-comments fa-lg">  </i>
            </div><br>
    
        <% end %>
      <% end %>
    <% end %>
  </div>



</div>



</div>



<style type="text/css">

.one div, .two div{
  width: 100%;
  text-align: left;

}

.one {

  min-height: 100%;
  padding: 10px;
  border-top:2px solid #bd6019;
  border-bottom: :2px solid #bd6019;
  text-align: center;

}

.two {
 
  min-height: 100%;
  padding: 10px;
  border-top:2px solid #bd6019;
  border-bottom: :2px solid #bd6019;
  text-align: center;
}

</style>


    <script>
      $(document).ready(function(){
  $("#convoClick").click(function(){
    $("#allConvo").toggle("slow");
  });

  $("#userClick").click(function(){
    $("#allUsers").toggle("slow");
  });

});
    </script>

