
<div id="conversation" class="w3-container">

<div class="one">

<h1 id="userClick" style="font-family: 'Special Elite', cursive !important">Message Users</h1>
  <div id="allUsers"><br>
  
    <% @users.each do |user| %>
      <% if user.id != current_user.id %>

       <div><%= image_tag avatar_url(user), size: 48, class: "circle" %><%= link_to "  #{user.username}", conversations_path(sender_id: current_user.id, recipient_id: user.id), method: "post", class: "no-decoration testButton" %> <i class="far fa-comment-dots fa-md"></i><br><br></div>



      <% end %>
    <% end %>
    </div>

 


  </div>
  <div class="two">
  

  
    <h1 id="convoClick" style="font-family: 'Special Elite', cursive !important">Conversations</h1>
    <div id="allConvo"><br>

    <% @conversations.each do |conversation| %>
      <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
        <% if conversation.sender_id == current_user.id %>
          <% recipient = User.find(conversation.recipient_id) %>
        <% else %>
          <% recipient = User.find(conversation.sender_id) %>
        <% end %>
        <% unless current_user.id == recipient %>
          
              
              <div><i style="margin-right:12px;" class="far fa-comments fa-lg">  </i><%= link_to recipient.username, conversation_messages_path(conversation), class: "testButton no-decoration" %></div><br>
    
        <% end %>
      <% end %>
    <% end %>
  </div>



</div>



</div>



<style type="text/css">


.one {
  width: 40%;
  min-height: 100%;
  float: left;
  padding: 10px;
  border:5px solid #bd6019;
  font-size: 35px;
  text-align: center;
  margin-left: 5%;
}

.two {
 
  min-height: 100%;
  padding: 10px;
  border: 5px solid #bd6019;
  width: 40%;
  float: left;
  margin-left: 10%;
  font-size: 35px;
  text-align: center;
}
</style>


    <script>
      $(document).ready(function(){
  $("#convoClick").click(function(){
    $("#allConvo").toggle("slow");
  });

  $("#userClick").click(function(){
    $("#allUsers").toggle("slow");
  });

});
    </script>

