<div id="conversation" class="w3-container w3-responsive">
<h4>You searched for <span style="color: orange;font-weight: 700"><%= @st %></span></h4><br><br>
<% if @st == current_user.username %>
<p>No need to search for yourself!</p>
<% end %> 

<% if @users.length == 0  %>
<br />
<h4>No users were found to match your search</h4><br><br>
<% end %>

  <% @users.each do |user| %>
      <% if user.id != current_user.id %>

       <div><%= image_tag avatar_url(user), size: 48, class: "circle" %><%= link_to "  #{user.username}", conversations_path(sender_id: current_user.id, recipient_id: user.id), method: "post", class: "no-decoration testButton" %> <i class="far fa-comment-dots fa-md"></i><br><br></div>



      <% end %>
    <% end %><br><br>
    
    <%= render 'layouts/search' %> <br><br><br>

    <a href="/dashboard"><button>Dashboard</button></a><br><br>
</div>

<style type="text/css">
	button{
  width:200px;
  color: white;
  background-color: #bd6019;
  border-radius: 10%;
  border: none;
  cursor: pointer;
}

button:hover{
  opacity: 0.8;
  animation: bounce 1s infinite;
}
</style>