<div id="conversation" class="w3-container"> 
<h1 style="text-align: center;">Editing Doubles Game</h1>

<%= render 'form', double: @double %>

<%#= link_to 'Show', @double %> 
<%= link_to 'Back', doubles_path, class: 'no-decoration'  %>

</div>
