<div id="dash">
<div class="dashboard" id="div1">
	<a href="/conversations"><p><i class="far fa-comments"></i><br>Chats</p></a>
</div>
<div class="dashboard" id="div2">
<a href="/posts"><p><i class="white far fa-newspaper"></i><br>Notice Board</p></a>
</div>
<div class="dashboard" id="div3">
<a href=""><p><i class="white fas fa-table-tennis"></i><br>My Games</p></a>
</div>
<div class="dashboard" id="div4">
<a href=""><p><i class="white fas fa-trophy"></i><br>Leaderboard</p></a>
</div>
</div>