<div id="dash">
<div class="dashboard" id="div1">
	<a href="/conversations"><p>Chats</p></a>
</div>
<div class="dashboard" id="div2">
<a href=""><p>Notice Board</p></a>
</div>
<div class="dashboard" id="div3">
<a href=""><p>My Games</p></a>
</div>
<div class="dashboard" id="div4">
<a href=""><p>Leaderboard</p></a>
</div>
</div>