<!--Container for the page-->
<div class="homeContainer w3-container">

<div class="w3-center">
<br><br><br>
<div class="borderLeft"></div>


<button id="gamesButton" class="homeButton">Games  <i id="gb1" class="fas fa-chevron-right"></i>
<i id="gb2" class="fas fa-chevron-right"></i>
<i id="gb3" class="fas fa-chevron-right"></i></button>
<br><br>

<button id="informationButton" class="homeButton">Information  <i id="ib1" class="fas fa-chevron-right"></i>
<i id="ib2" class="fas fa-chevron-right"></i>
<i id="ib3" class="fas fa-chevron-right"></i></button><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<button id="loginButton" class="homeButton">Login  <i id="lb1" class="fas fa-chevron-right"></i>
<i id="lb2" class="fas fa-chevron-right"></i>
<i id="lb3" class="fas fa-chevron-right"></i></button><br><br>

<button id="registerButton" class="homeButton">Register  <i id="rb1" class="fas fa-chevron-right"></i>
<i id="rb2" class="fas fa-chevron-right"></i>
<i id="rb3" class="fas fa-chevron-right"></i></button><br><br>





</div>
</div>
