<div id="dash">
<div class="sod" id="sod1">
	<a href="/my_games/new"><p><i class="far fa-user"></i></i><br>Singles</p></a>
</div>
<div class="sod" id="sod2">
<a href="/doubles/new"><p><i class="white fas fa-user-friends"></i><br>Doubles</p></a>
</div>

</div>

