<style>.home:hover{text-decoration: underline;}</style>
<div id="messagePage" class="w3-container w3-center">
	<br><br><br>


<%= render 'form', contact: @contact %>
<br>
<%= link_to 'Home', '/', class: "home white no-decoration" %>

</div>