<div id="conversation" class="w3-container w3-responsive">

<h1>Edit</h1>

<%= render 'form', about: @about %>

<%#= link_to 'Show', @about %><br>
<%= link_to 'Back', abouts_path, class: 'no-decoration' %>
</div>