/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */






/* For the App */
html, body{
	margin: 0;
	height: 100%;
	font-family: 'Special Elite', cursive !important;

}
  .circle{
    border-radius: 50%;
  }
h1,h2,h3,h4,h5{
	font-family: 'Special Elite', cursive !important;
}
.hr{
    border: 2px solid #bd6019;
    
    border-radius: 10%;
  }

/*navbar code - taken from w3 schools and customized 

https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_overlay
*/
#adminButton{
	margin-left: 20px;
}
#adminButton:hover{
	text-decoration: underline;
}
#navlogo{
	width: 45px;
	height: 45px;
	
	
}
#navbar a:hover{
	color:#fff;
	transition: 0.5s;
}
#navbar span{
	font-size:30px;
	cursor:pointer;
	color: rgb(189, 96, 25);
	float: right;
}

#navbar{
	position: fixed;
	padding: 10px;
	border-right: 5px solid #bd6019;
	border-left: 5px solid #bd6019;
	width: 100%;
	transition: 1s;
	
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(189, 96, 25,0.9);
  overflow-x: hidden;
  transition: 0.5s;

}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #fff;
  display: block;
  transition: 0.3s;
}


.overlay a:hover, .overlay a:focus {
  animation: bounce 1s infinite;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }

  .one, .two{
  	display: block;
  	width: 100%;
  }

}

/* Home Page CSS */


.no-decoration{
	text-decoration: none;
}

#gamesButton{
	animation: fade 1s linear;
}
#informationButton{
	animation: fade 1s linear;
	animation-delay: 0.5s;
	
}
#loginButton{
	animation: fade 1s linear;
	animation-delay: 1s;
}
#registerButton{
	animation: fade 1s linear;
	animation-delay: 1.5s;
}
@keyframes fade{
	0%{
		opacity: 0;
		

	}
	50%{
		width: 100px;
		background-color: #bd6019;

	}
	100%{
		opacity: 1;
		
	}
}


.homeContainer{
	height:100%;
	background: #103f4f;
	/* background-image: url("https://sem4project.s3-eu-west-1.amazonaws.com/assets/GP+Logo.PNG"); */
	/* background-position: center; */
	padding-top: 10px;
	border-right: 5px solid #bd6019;
	border-left: 5px solid #bd6019;
}

.homeButton{
	width: 200px;
	height: 40px;
	border-radius: 10%;
	background-color: transparent;
	border:2px solid #bd6019;
	color: #fff;
}

.fa-chevron-right{
	display: none;
	color: #bd6019;
}
#gamesButton:hover{
	border:4px solid #bd6019;
}
#informationButton:hover{
	border:4px solid #bd6019;
}
#loginButton:hover{
	border:4px solid #bd6019;
}
#registerButton:hover{
	border:4px solid #bd6019;
}


/*End of home page CSS*/


/*Start of footer CSS*/
.bottom-footer{
	width: 100%;
	height: 30px;
	background-color: #103f4f;
	color: white;
	padding: 10px;
	border-right: 5px solid #bd6019;
	border-left: 5px solid #bd6019;

}
.top-footer{
	width: 100%;
	height: 50px;
	background-color: #bd6019;
	padding-top: 10px;
}

.fa-comment{
	color: white;
}

footer a{
	text-decoration: none;
}
#bfm:hover {
	animation: bounce 1s infinite; 

}
@keyframes bounce {
    0%,  
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/*End of footer CSS*/


/*Start of Message Page CSS*/
#messagePage{
	min-height: 100%;
	background-color: #103f4f;
	padding: 60px 20px;
	border-right: 5px solid #bd6019;
	border-left: 5px solid #bd6019;
}
#aboutPage{
	padding: 50px;
	background-color: #103f4f;
	border-right: 5px solid #bd6019;
	border-left: 5px solid #bd6019;
	min-height: 100%;
	font-size: 15px;
}
#contact_Name{
	width: 60%;
	background-color: transparent;
	border:none;
	border-bottom:2px solid #bd6019;
	color: #fff;
	margin-left: 25px;
	margin-bottom: 20px;

}
#contact_email{
	width: 60%;
	background-color: transparent;
	border:none;
	border-bottom:2px solid #bd6019;
	color: #fff;
	margin-left: 25px;
	margin-bottom: 20px;
}
#contact_subject, #user_email, #user_password, #user_password_confirmation, #user_username, #user_current_password, #user_avatar_url {
	width: 60%;
	background-color: transparent;
	border:none;
	border-bottom:2px solid #bd6019;
	color: #fff;
	
	margin-bottom: 20px;
}
#contact_message{
	width: 60%;
	background-color: transparent;
	border:2px solid #bd6019;
	color: #fff;
	height: 300px;
	margin-left: 25px;
	margin-bottom: 20px;
	
}




.messageField label{
	color:white;
	width: 100px;
}

.white{
	color: white;
}
.actions input{
	background-color: #bd6019;
	border: 2px solid #bd6019;
	color: #fff;
	width: 60%;
	height: 40px;
	border-radius: 10%;
	
}
.actions input:hover{
	animation: bounce 1s infinite;
	transition: 0.5s;
}
/*End of Message Page CSS*/



/*Start of All Users Page CSS*/

.adminButton{
	border:2px solid #bd6019;
	padding: 2px;
	width: 150px;
	background-color: transparent;
	color: white;
}
.adminButton:hover{
	width: 150px;
	background-color: #bd6019;
}
#usertable:hover{
	animation: bounce 1s;
}
/*End of All Users Page CSS*/

/*Start of Dashboard CSS*/
.dashboard { 
	width: 50%; 
	height: 50%; 
	float: left; 
	text-align: center;
}
.dashboard p{
	padding-top: 10%;
	color: white;
	font-size: 50px;
}
.dashboard p:hover{
	animation: bounce 1s infinite;
}
.dashboard a{
	text-decoration: none;

}
#div1 { background: #64AFE4; border-left:5px solid #bd6019;}
#div2 { background: #528BB3; border-right:5px solid #bd6019;}
#div3 { background: #81A5BD; border-left:5px solid #bd6019;}
#div4 { background: #9ACBEC; border-right:5px solid #bd6019;}

#dash{
	height: 100%;
}

@media only screen and (max-width: 600px) {
  .dashboard {
    width: 50%;

  }
  .dashboard p{
	padding-top: 70%;
	font-size: 25px;
}


}
/*End of Dashboard CSS*/

/*Start of Singles or Doubles CSS*/
.sod { 
	width: 50%; 
	height: 100%; 
	float: left; 
	text-align: center;
}
.sod p{
	padding-top: 30%;
	color: white;
	font-size: 50px;
}
.sod p:hover{
	animation: bounce 1s infinite;
}
.sod a{
	text-decoration: none;

}
#sod1 { background: #64AFE4; border-left:5px solid #bd6019;}
#sod2 { background: #528BB3; border-right:5px solid #bd6019;}

#dash{
	height: 100%;
}

@media only screen and (max-width: 600px) {
  .sod {
    width: 50%;

  }
  .sod p{
	padding-top: 70%;
	font-size: 25px;
}

}
/*End of Singles or Doubles CSS*/
#doubleIndex{
	min-height: 100%;
	color: white;
	background-color: #103f4f;
	
}


/*Start of Conversations CSS*/
#conversation{
	min-height: 100%;
	color: white;
	background-color: #103f4f;
	padding: 100px 50px;
}
#allUsers, #allConvo{
	display: none;
}
#userClick:hover, #convoClick:hover{
	animation: bounce 1s infinite;
}
#userClick, #convoClick{
	cursor: pointer;
}
.testButton:hover{
	color: #bd6019; 
}
.block{
	display: inline-block;
}

/*End of Conversations CSS*/

/*Start of Notice Board CSS*/
#noticeBoard{
	min-height: 100%;
	background-color: #103f4f;
	padding: 60px 20px;
	border-right: 5px solid #bd6019;
	border-left: 5px solid #bd6019;
}



/*End of Notice Board CSS*/



/*Start of Game Forms*/

#singleForm select{
	background-color: transparent;
	border: 1px solid #bd6019;
	width: 60%;
	height: 20px;
	color: #bd6019;
}




/*End of Game Forms*/